{% extends "base.html" %}

{% block flashmessage %}
{% if message %}{{message}}{% endif %}
{% endblock %}

{% block content %}
<h1>User Settings</h1>
<form method="POST">
  {% csrf_token %}
  <p>
<!--    <a class="help" href="#github-username"
       title="Enter the fully-qualified domain name. No http:// prefix."></a> -->
    Github Username:
    <input size="100" type="text" name="github_username" value="{{profile.github_username}}"/>
  </p>
  <p>
    <a class="help" href="/static/images/github-api-token.png"
       title="Find your Github API Token by going to your Account Settings, and then clicking Account Admin."></a>
    Github API Token:
    <input size="100" type="text" name="github_api_token" value="{{profile.github_api_token}}"/>
  </p>

  <input type="hidden" name="redirect_to" value="{{redirect_to}}" />
  <input type="submit" />
</form>

<form method="POST">
  {% csrf_token %}
  <input type="hidden" name="redirect_to" value="{{redirect_to}}" />
  <input type="hidden" name="ssh_key" value="1" />
  <input type="submit" value="Register SSH Key" />
</form>
{% endblock %}
