{% extends "base.html" %}

{% block content %}
<script type="text/javascript">
  $(window).load(function() {
    $(".help").each(function() {
      $(this).css("display", "inline");
      $("<img/>").attr("src", "/static/images/help.png")
        .appendTo(this);
      if( $(this).attr("href")[0] == "#" ) {
        $(this).colorbox({inline: true});
      } else {
        $(this).colorbox();
      }
    });
  });
</script>

<h1>Configure deployment: {{site.name}}</h1>

<p>
  You can deploy a static export of your site to Github Pages.
  This will create a git repository with a gh-pages branch only,
  hosted at Github.  Whenever you redeploy your site, all changes
  since your last deployment will be committed and pushed to that
  repository in a single batch.  You must create the repo manually
  at Github; you should create it and then leave it empty.
</p>

<p>
  You can optionally configure a domain name that your site should
  be served at.  You must own the domain, and must configure the DNS manually, 
  per the instructions <a href="http://pages.github.com/#custom_domains">here</a>.
  The CNAME file in your repository will be automatically created for you;
  you only need to configure the settings with your DNS host.
</p>

<h2>Deployment settings</h2>
<form method="POST" action=".">
  {% csrf_token %}
  <p>
    <a class="help" href="#fqdn-help"
       title="Enter the fully-qualified domain name. No http:// prefix."></a>
    Custom Domain (leave blank for no custom DNS):
    <input size="100" type="text" name="custom_domain" value="{{site.custom_domain}}"/>
  </p>
  <p>
    <a class="help" 
       href="/static/images/github-url.png" 
       title="Copy & paste the full path from your Github repo. Make sure you select the 'SSH' URL."></a>
    Github Repo (leave blank for no deployments to Github):
    <input size="100" type="text" name="github_repo" value="{{site.github_repo}}"/>
  </p>
  <input type="submit" />
</form>

<form method="POST" action="./github/init/">
  {% csrf_token %}
  <input type="submit" value="Initialize deployment" />
</form>
<form method="POST" action="./github/push/">
  {% csrf_token %}
  <input type="submit" value="Manually redeploy" />
</form>

<div style="display: none;">
  <div id="fqdn-help">
    Examples: 'somanywhales.com'; 'www.somanywhales.com'; or 'my.site.somanywhales.com'.
  </div>
</div>
{% endblock %}
