{% extends "base.html" %}

{% block content %}

<h1>Configure deployment: <a href="{{site.site_home_url}}">{{site.name}}</a></h1>

<p>
  You can deploy a static export of your site to Github Pages.
  This will create a git repository with a gh-pages branch only,
  hosted at Github.  Whenever you redeploy your site, all changes
  since your last deployment will be committed and pushed to that
  repository in a single batch.
</p>

<p>
  You can optionally configure a domain name that your site should
  be served at.  You must own the domain, and must configure the DNS manually.

  <strong>At your DNS host, you should create an "A" record for the domain or subdomain 
  you want to use, pointing to 207.97.227.245 (Github's IP address)</strong>
</p>

<h2>Deployment settings</h2>
<form method="POST" action=".">
  {% csrf_token %}
  <p>
    <a class="help" href="#fqdn-help"
       title="Enter the fully-qualified domain name. No http:// prefix."></a>
    Custom Domain (leave blank for no custom DNS):
    <input size="100" type="text" name="custom_domain" value="{{site.custom_domain}}"/>
  </p>
  <p>
    <a class="help" 
       href="/static/images/github-repo.png" 
       title="Type in the path identifying your Github Repo.  This will usually be your usename, followed by a slash, followed by the name of the repo."></a>
    Github Repo (leave blank for no deployments to Github):
    <input size="100" type="text" name="github_repo" value="{{site.github.repo}}"/>
  </p>
  <p>
    <a class="help" href="#path-help"
       title="Type in the subpath on your wiki that you want to deploy to the root of your website. If blank, your entire wiki structure will be deployed."></a>
    Path To Deploy (leave blank for full wiki deployment):
    <input size="100" type="text" name="deploy_path" value="{{site.deploy_path}}"/>
  </p>
  <input type="submit" />
</form>

<div style="display: none;">
  <div id="fqdn-help">
    Examples: 'somanywhales.com'; 'www.somanywhales.com'; or 'my.site.somanywhales.com'.
  </div>
  <div id="path-help">
    For example, if you have a wiki with files like /website/index.html and /website/contents/1/ and other files under /internal/ you can enter "/website/" here to have the site's /index.html be created from your wiki's /website/index.html and all files not under /website/ will be passed over altogether.
  </div>
</div>

<h1>Deployment Status</h1>
{% if not site.github.repo %}
You have not yet configured a Github Repo for your site.
{% else %}
{% if not site.github.repo_exists %}
Your site's Github Repo has not yet been created.
You can create it yourself from Github, 
or I can do it for you if you push this button:
<form method="POST" action="./github/create/">
  {% csrf_token %}
  <input type="submit" value="Create Github Repo" />
</form>
If you want to create the repository manually at Github,
please leave it empty after creating it.
{% else %}
{% if not site.github.ghpages_exists %}
Your site's Github Repo exists, but has not been initialized.
I can do it for you if you push this button:
<form method="POST" action="./github/init/">
  {% csrf_token %}
  <input type="submit" value="Initialize deployment" />
</form>
{% else %}
Congratulations, your site's Github Repo is ready for deployments.
<form method="POST" action="./github/push/">
  {% csrf_token %}
  <input type="submit" value="Manually redeploy" />
</form>
{% endif %}
{% endif %}
{% endif %}

{% endblock %}
