{% extends "base.html" %}

{% block content %}
<h1>{{path}}</h1>

<h1>Upload a file</h1>
<form method="post" action="{{form_url}}" name="upload_form" enctype="multipart/form-data"> 
  {% csrf_token %}
  <input type="file" name="file"/>
  <p>
    Upload to what subdirectory? (Leave blank to upload straight to the current directory)
    <input type="text" name="subpath"/>
  </p>
  <p>
    Filename (leave blank to use the original file name): <input type="text" name="filename"/>
  </p>
  <input type="hidden" name="file" value="file" />
  <input type="submit" value="upload"/>
</form>
{% endblock %}
