{% extends "base.html" %}

{% block content %}
<h1>Site: {{site.name}}</h1>

<h1>Role:{{roles}}</h1>
<h1>Policy:{{policy}}</h1>

<ul>
  <li><a href="{{site.page_view_url}}">Preview site</a></li>
  <li><a href="{{site.directory_index_url}}">Browse site</a></li>
  <li><a href="{{site.history_url}}">Site history</a></li>
  <li><a href="{{site.page_create_url}}">Create a page</a></li>
  <li><a href="{{site.upload_file_url}}">Upload a file</a></li>
</ul>

<ul>
  <li><a href="{{site.wiki_configure_url}}">Configure wiki</a></li>
  <li><a href="{{site.deploy_dashboard_url}}">Configure deployment</a></li>
</ul>
{% endblock %}
