{% extends "base.html" %}

{% load repo %}
{% block head %}
<style type="text/css">
  #oc-content-container {
    min-height: 57em !important;
  }
</style>
{% endblock %}
{% block content %}

{% if not raw_edit %}
<!--
<link rel="xinha" href="/static/xinha/" />
<link rel="xinha_image_manager" href="{{site.xinha_image_manager_url}}?" />
<script type="text/javascript">
  _editor_url  = jQuery("link[rel=xinha]").attr("href");
  _editor_lang = "en";
  _editor_skin = "silva";
  _editor_icons = "classic";
  _linker_backend_url = jQuery("link[rel=xinha_linker]").attr("href");
  _image_manager_backend_url = jQuery("link[rel=xinha_image_manager]").attr("href");
</script>
<script type="text/javascript" src="/static/xinha/XinhaCore.js"></script>
<script type="text/javascript">
var xinha_editors;
var xinha_plugins;
var xinha_config;
function xinha_init() {
  xinha_editors = xinha_editors || ["content"];
  xinha_plugins = xinha_plugins || [
    "Linker",
    "ImageManager"
  ];
  if( !Xinha.loadPlugins(xinha_plugins, xinha_init) ) return;
  xinha_config = xinha_config || new Xinha.Config();
  xinha_config.width = "800px";
  xinha_config.height = "600px";
  xinha_config.baseHref = "/";
  xinha_config.autofocus = true;
  xinha_config.Linker.backend = _linker_backend_url;
  xinha_config.ImageManager.backend = _image_manager_backend_url;
  xinha_editors = Xinha.makeEditors(xinha_editors, xinha_config, xinha_plugins);
  Xinha.startEditors(xinha_editors);
}
Xinha.addOnloadHandler(xinha_init);
</script>
-->
<link rel="xinha_linker" href="{{site.xinha_linker_url}}" />
<script type="text/javascript">
  _backend_url = jQuery("link[rel=xinha_linker]").attr("href");
</script>
<div class="opencore_wysiwyg"></div>
{% endif %}

<form method="POST" action="{{form_url}}" name="edit_form">
  {% csrf_token %}
  <div class="oc-wiki-edit">
    <div class="oc-wiki-edit-content">
      <textarea style="width: 800px; height: 600px;"
		id="content" name="contents">{{contents}}</textarea>
    </div>
    <div class="oc-expander oc-js-expander oc-expander-open">
      <h2 class="oc-bigText">
	<a href="#oc-wiki-comment"
	   class="oc-expanderLink oc-js-expander_open oc-js-expanderLink">Revision note</a>
      </h2>
      <div class="oc-js-expander-content">
	<textarea name="comment" id="comment" rows="5" cols="80"></textarea>
      </div>
    </div>

    <ul class="oc-actions oc-wiki-actions">
      <li><input type="submit" value="Save"
		 class="oc-button oc-chooseThis"></li>
      <li>
	or
	<a href="{{site|page_view_url:path}}">Cancel</a>
      </li>
    </ul>
    
  </div>
  
</form>

{% if False %}
<h1>Or upload a file to this location</h1>
<form method="post" action="{{form_url}}" name="upload_form" enctype="multipart/form-data"> 
  {% csrf_token %}
  <input type="file" name="file"/>
  <h2>Revision Note</h2>
  <textarea name="comment" id="comment" rows="5" cols="80"></textarea>
  <input type="hidden" name="file" value="file" />
  <input type="submit" value="upload"/>
</form>
{% endif %}

{% endblock %}
