<html>
<head>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
  <link media="screen" rel="stylesheet" href="https://raw.github.com/jackmoore/colorbox/master/example1/colorbox.css" />
  <script src="https://raw.github.com/jackmoore/colorbox/master/colorbox/jquery.colorbox.js" type="text/javascript"></script>
  <script type="text/javascript">
  $(window).load(function() {
    $(".help").each(function() {
      $(this).css("display", "inline");
      $("<img/>").attr("src", "/static/images/help.png")
        .appendTo(this);
      if( $(this).attr("href")[0] == "#" ) {
        $(this).colorbox({inline: true});
      } else {
        $(this).colorbox();
      }
    });
  });
  </script>
</head>
<body>
<div id="topnav">
{% if request.user and request.site %}
Logged in as {{request.user.username}}.
Viewing site {{request.site.name}}.
<a href="/?svenweb.unset_site">Return to list of sites?</a>
{% endif %}
</div>

{% block content %}

{% endblock %}
</body>
</html>
