{% extends "base.html" %}

{% block head %}
<style type="text/css">
  #oc-content-container {
    min-height: 70em !important;
  }
</style>
{% endblock %}

{% block content %}
{% if wikis|length %}
<h2>Your wikis</h2>
<ul>
  {% for wiki in wikis %}
  <li>
    <a href="{{wiki.site_home_url}}">{{wiki.name}}</a>
  </li>
  {% endfor %}
</ul>
{% else %}
No wikis have been created yet.
{% endif %}

{% if request.get_project_role == "ProjectAdmin" %}
<h2>Create a wiki</h2>
<div id="oc-tasktracker">
<form method="POST">
  {% csrf_token %}
  <p>
    Name: <input type="text" name="name" />
  </p>

  {% include "opencore/permissions_form.html" %}
  <input type="submit" />
</form>
</div>
{% endif %}

{% endblock %}
