<div id="managers-section"> 
  <h2>
    <label for="managers">Wiki managers</label>
  </h2> 
  <p>
    Wiki managers can perform all wiki functions;
    set permissions for others; add and remove features;
    and delete the wiki.
  </p> 
  <p>
   In addition to the team members added below,
   all project administrators also have these privileges. 
   Project administrators are labelled on the project's team page.
  </p> 

  <select class="asmselect" name="managers" multiple="multiple" 
	  title="Click to select project members">
    {% for member in request.get_project_members %}
    <option {% if member == request.user.username %}selected="selected"{% endif %}
	    value="{{member}}">{{member}}</option>
    {% endfor %}
  </select>
 
</div> 
 
<div id="permissions_section"> 
  <!-- Permissions --> 
  <div id="permission_help"> 
    
    <p>You can create wikis that match your particular needs by choosing the
      options that best work for you.</p> 
    
    <p> The options further down the list add to or override those
      options further up. If you select to allow team members to edit
      wiki pages, for instance, then they can also view this wiki and
      its history. If you choose to allow non-members to edit wiki pages
      then they can also view this wiki and its history.</p> 
    
    <p>The options are also designed to avoid incompatible choices. You cannot, 
      for example, allow non-members to edit wiki pages but restrict team members
      to only viewing the wiki.</p> 
    
  </div> 
  
  <table>
    <tbody>
      <tr valign="top" padding="50px;">
	<td width="50%"> 
	  <h2>This project's members can</h2>
	  <ul id="member_permissions">
	    {% for permission in member_permissions %}
	    <li>
	      <input type="radio" name="member_perms"
		     id="member_permission_{{permission.0}}"
		     {% if forloop.last %}checked="checked"{% endif %}
		     value="{{permission.0}}" />
	      <label for="member_permission_{{permission.0}}">{{permission.1}}</label>
	    </li>
	    {% endfor %}
	  </ul>
	</td> 
	<td width="20;">&#160;</td> 
	
	<td width="50%"> 
	  <h2>Other users can</h2> 
	  <ul id="other_permissions">
	    {% for permission in other_permissions %}
	    <li>
	      <input type="radio" name="other_perms"
		     id="other_permission_{{permission.0}}"
		     {% if forloop.last %}checked="checked"{% endif %}
		     value="{{permission.0}}" />
	      <label for="other_permission_{{permission.0}}">{{permission.1}}</label>
	    </li>
	    {% endfor %}
	  </ul>
	</td> 
 
      </tr>
    </tbody>
  </table>
  <script type="text/javascript">
    $(window).load(function() {
      $("input[type=radio][name=member_perms]").change(function() {
        var value = $(this).val();
        $("input[type=radio][name=other_perms]").each(function() {
          if( $(this).val() > value ) {
            $(this).attr("disabled", "disabled");
          } else {
            $(this).removeAttr("disabled");
          }
        });
        if( $("input[name=other_perms]:checked").val() > value ) {
          $("input[name=other_perms][value="+value+"]").attr("checked", "checked");
        }
      });

      $("input[type=radio][name=other_perms]").change(function() {
        var value = $(this).val();
        $("input[type=radio][name=member_perms]").each(function() {
          if( $(this).val() < value ) {
            $(this).attr("disabled", "disabled");
          } else {
            $(this).removeAttr("disabled");
          }
        });
        if( $("input[name=member_perms]:checked").val() <  value ) {
          $("input[name=member_perms][value="+value+"]").attr("checked", "checked");
        }
      });

    });
  </script>

  <hr>
</div> 

